# Ignore OS and temporary files
__pycache__/
*.pyc
*.pyo
.DS_Store

# Ignore environment folders (if any)
.venv/
.conda/
env/

# Ignore all contents of simulation-data/
simulation-data/
cours-1/
cours-3/

